<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= t("recipes") %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = t("recipes") %>
  <h2><%= t("recipes") %></h2>
<% end %>

<fieldset class="fieldset">
  <legend> <%= pluralize Recipe.count, 'Recipe' %> listed</legend>

  <% if @recipes.empty? %>
    <br/>
    <%= t("recipe.none") %><br />
    <%= t("recipe.none_under") %>
    <br/>
  <% else %>
    <table class="sortable">
      <tr>
        <th width="39%"><%= t("recipe.name") %></th>
        <th width="59%"><%= t("recipe.description") %></th>
        <th width="1%"><%= t("recipe.stages") %></th>
        <th width="1%"><%= t("created_at") %></th>
        <th width="1%"></th>
        <th width="1%"></th>
      </tr>
      <% for recipe in @recipes %>
        <tr class="<%= cycle :even, :odd, :name => 'recipes'  %>">
          <td><%= link_to recipe.name, recipe_path(recipe) %></td>
          <td><%= recipe.description %></td>
          <td><%= recipe.stages.count %></td>
          <td><%= recipe.created_at.to_s(:date_with_day) rescue nil %></td>
          <% if current_user.admin? %>
            <td class="nowrap"><%= link_to t("edit"), edit_recipe_path(recipe) %></td>
            <td class="nowrap"><%= link_to t("delete"), recipe_path(recipe), :confirm => 'Are you sure?', :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% if current_user.admin? %>
    <br />
    <%= link_to t("recipe.new"), new_recipe_path, :class => 'arrow_link' %>
  <% end %>
</fieldset>

