<% content_for :breadcrumb do %>
  <%= breadcrumb_box do %>
    <%= link_to t("users"), users_path %>
    <span class="divider">&raquo;</span>
    <%= link_to @user.login, user_path(@user) %>
    <span class="divider">&raquo;</span>
    <%= t("user.edit") %>
  <% end %>
<% end %>

<% content_for :page_title do %>
  <% @page_title = "#{t('user.edit')} - #{@user.login}" %>
  <h2><%= t("user.edit") %> - <%= user_info(@user) %></h2>
<% end %>

<div>
  <%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
    <%= render :partial => 'form', :locals => {:form => f} %>
    <div class="form-actions">
      <%= f.submit t("user.update"), :class => "btn btn-primary" %>
      <%= link_to t("user.back_to"), users_path, :class => 'arrow_link ontheright' %>
    </div>
  <% end %>
</div>
