<% flashed_errors(:project) %>

<div class="control-group">
  <%= form.label :name, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :name, :class => "text_field" %>
  </div>
</div>
<div class="control-group">
  <%= form.label :template, :class => "control-label" %>
  <div class="controls">
    <%= form.select :template, @templates, {:include_blank => false} %>
  </div>
</div>
<div class="control-group">
  <%= form.label :description, :class => "control-label" %>
  <div class="controls">
    <%= form.text_area :description, :class => "input-xlarge" %>
  </div>
</div>
