<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= link_to "Projects", projects_path %>
    <span class="divider">&raquo;</span>
    <%= t("project.clone") %> <%= link_to @original.name, project_path(@original) %>
  <% end %>
<% end %>

<div>
  <% content_for(:page_title) do %>
    <% @page_title = "#{t('project.clone')} #{@original.name}" %>
    <h2><%= t("project.clone") %> <%= @original.name %></h2>
  <% end %>

  <%= form_for @project, :url => clone_path(@original), :html => {:class => "form-horizontal"} do |f| %>
    <%= render :partial => 'form', :locals => {:form => f} %>
    <div class="form-actions">
      <%= f.submit t("project.clone"), :class => "btn btn-primary" %>
      <%= link_to t("project.back_to"), projects_path, :class => "arrow_link ontheright" %>
    </div>
  <% end %>
</div>
