<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= link_to t("projects"), projects_path %>
    <span class="devider">&raquo;</span>
    <%= link_to @project.name, project_path(@project) %>
    <span class="divider">&raquo;</span>
    <%= t("edit") %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "#{t('edit')} #{@project.name}" %>
  <h2><%= t("edit") %> <%= link_to current_project.name, project_path(current_project) %></h2>
<% end %>

<div>
  <%= form_for @project, :html => {:class => "form-horizontal"} do |f| %>
    <%= render :partial => 'form', :locals => {:form => f} %>
    <div class="form-actions">
      <%= f.submit t("project.update"), :class => "btn btn-primary" %>
      <%= link_to t("project.back_to"), project_path(@project), :class => 'arrow_link ontheright' %>
    </div>
  <% end %>
</div>
