<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Projects", projects_path %>
    <span class="devider">&raquo;</span>
    New
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "New project" %>
  <h2>New project</h2>
<% end %>

<div>
  <%= form_for @project, html: {class: "form-horizontal"} do |f| %>
    <%= render partial: 'form', locals: {form: f} %>
    <div class="form-actions">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Back to projects', projects_path, :class => 'arrow_link ontheright' %>
    </div>
  <% end %>
</div>
