<% if @stage.configuration_parameters.empty? %>
  <p><%= t("stage.configuration_line1") %></p>
  <p><%= t("stage.configuration_line2") %></p>
<% else %>
  <table class="sortable">
    <thead>
      <tr>
        <th width="25%"><%= t("name") %></th>
        <th width="25%"><%= t("value") %></th>
        <th width="25%"><%= t("stage_configuration.prompt") %></th>
        <th width="1%"></th>
        <th width="1%"></th>
      </tr>
    </thead>
    <tbody>
      <% @stage.configuration_parameters.each do |config| %>
        <tr>
          <td><%= truncate config.name, :length => 25 %></td>
          <td><%= truncate hide_password_in_value(config), :length => 45 %></td>
          <td><%= raw config.prompt_status_in_html %></td>
          <td class="nowrap"><%= link_to t("edit"), edit_project_stage_stage_configuration_path(@project, @stage, config) %></td>
          <td class="nowrap"><%= link_to t("delete"), project_stage_stage_configuration_path(@project, @stage, config), :data => {:confirm => 'Are you sure?'}, :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
