<% if @stage.deployments.empty? %>
  <p>This stage was never deployed.</p>
<% else %>
  <%= render :partial => 'deployments/list_item', :locals => {:deployments => @stage.deployments} %>
<% end %>
<% if @stage.deployment_possible? %>
  <%= link_to 'New deployment', new_project_stage_deployment_path(current_project, @stage) %> <%= (@stage.deployments.count > 1) ? '|' : '' %>
<% else %>
  <p>
    A deployment is currently not possible:<br />
    <%= display_deployment_problems(@stage) %>
  </p>
<% end %>
<% if @stage.deployments.count > 1 %>
  <%= link_to "Complete deployment history", project_stage_deployments_path(current_project, @stage) %>
<% end %>
