<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= link_to t("projects"), projects_path %>
    <span class="divider">&raquo;</span>
    <%= t("project.title") %> <%= link_to current_project.name, project_path(current_project) %>
    <span class="divider">&raquo;</span>
    <%= t("stage.title") %> <%= link_to current_stage.name, project_stage_path(current_project, current_stage) %>
    <span class="divider">&raquo;</span>
    <%= t("manage_recipes.title") %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "#{t('manage_recipes.title')} - #{@stage.name}"%>
  <h2><%= t("manage_recipes.title") %></h2>
<% end %>

<%= form_for @stage, url: recipes_project_stage_path(@project, @stage), html: {method: :put} do |f| %>  
  <fieldset class="fieldset">
    <legend><%= t("manage_recipes.recipes_to_use") %></legend>
    
    <% if Recipe.count > 0 %>
      <table class="sortable">
        <thead>
          <tr>
            <th width="1%"><%= t("manage_recipes.use") %></th>
            <th width="39%"><%= t("recipe.name") %></th>
            <th width="60%"><%= t("recipe.description") %></th>
          </tr>
        </thead>
        <% for recipe in Recipe.find(:all, :order => 'name ASC') %>
          <tr class="<%= cycle :even, :odd, :name => 'recipes'  %>">
            <td><input type="checkbox" value="<%= recipe.id %>" name="stage[recipe_ids][]" id="stage_recipe_ids_<%= recipe.id %>" <%= @stage.recipes.include?(recipe) ? 'checked="checked"' : '' %>/></td>
            <td><%= link_to recipe.name, recipe_path(recipe) %></td>
            <td><%= recipe.description %></td>
          </tr>
        <% end %>
      </table>
      <br />
      <div class="form-actions">
        <%= f.submit t("stage.update"), class: "btn btn-primary" %>
      </div>
    <% else %>
      <%= t("manage_recipes.none") %><br /><br />
    <% end %>
  </fieldset>    
<% end %>

<br />
<%= link_to t("manage_recipes.back_to"), project_stage_path(current_project, current_stage), :class => 'arrow_link ontheright' %>
