<% flashed_errors(:role) %>

<div class="control-group">
  <%= form.label :name, :class => "control-label" %>
  <div class="controls">
    <%= form.select :name, Role::DEFAULT_NAMES, {:include_blank => true} %>
  </div>
</div>
<div class="control-group">
  <%= form.label :custom_name, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :custom_name, :class => "text_field" %>
  </div>
</div>

<div class="control-group">
  <%= form.label :host_id, :class => "control-label" %>
  <div class="controls">
    <span class="<%= @role.errors['host'].empty? ? 'fieldWithErrors' : '' %>">
      <%= form.select :host_id, @host_choices, {:include_blank => true } %>
    </span>
  </div>
</div>

<div class="control-group">
  <%= form.label :ssh_port, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :ssh_port, :class => "text_field" %>
    leave blank for default
  </div>
</div>

<div class="control-group">
  <%= form.label :primary, :class => "control-label" %>
  <div class="controls">
    <%= form.check_box :primary %>
    tick this for the DB master
  </div>
</div>

<div class="control-group">
  <%= form.label :no_release, :class => "control-label" %>
  <div class="controls">
    <%= form.check_box :no_release %>
    tick this if you do not want any checkouts on this host
  </div>
</div>

<div class="control-group">
  <%= form.label :no_symlink, :class => "control-label" %>
  <div class="controls">
  <%= form.check_box :no_symlink, :style => '' %>
  tick this if you do not want to update the <i>current</i> symlink
  </div>
</p>
